::ng-deep * {
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: row;
    background: aquamarine;
    padding: 15px;
    justify-content: center;
}
nav ul{
    display: flex;
    flex-direction: row;
    grid-gap: 10px;
    list-style: none;
}
a{
    text-decoration: none;
    color: #1e2122;
    font-size: 17px;
    font-weight: 600;
    font-family: sans-serif;
}
.active{
    text-decoration: underline;
    text-underline-position: under;
    color: #f44336;
}
/*
section{
    display: grid;
    place-content: center;
    padding-top: 3rem;
}
.invalid-field{
    color: #e72727;
    font-weight: 500;
    background: antiquewhite;
    padding: 10px;
    border-radius: 5px;
}
*/