<section>
   <div>
      <h4>Buscar ciudades</h4>
      <input type="text" placeholder="Buscar..." [(ngModel)]="searchCity">
      <!--Agregar nueva ciudad-->
      <app-add-city [inputTitle]="'Agregar ciudad'" (outputNameEvent)="onAddCity($event)"></app-add-city>
   </div>
   
   <!--Lista de ciudades-->
   <ul>
      <!-- Validamos si selection y city son validos(no sean nulas) y si son validos comparamos las propiedades y agregamos la clase-->
      <li *ngFor="let city of (cities | pipeFilter:searchCity)" (click)="onCitySelection(city)" [ngClass]="{'selected': selection && city && city._id === selection._id}">
         {{city.name}} 
         <button *ngIf="city?._id === selection?._id" type="button" (click)="getCityId(city)">editar</button>
         <button *ngIf="city?._id === selection?._id" type="button" (click)="deleteCity(city._id)">Delete</button>
      </li>
      
   </ul>

   <!--Ciudad seleccionada-->
   <!--div *ngIf="selection?._id">Tu ciudad es: 
      <p [ngClass]="'selected'">{{selection.name}}</p>
   </div-->
   <div *ngIf="selection && editItem && editItem._id === selection._id">
      <h2>Editar ciudad</h2>
      <input type="text" [value]="editItem.name" (keyup.enter)="onKeyUp($event,editItem)">
   </div>
   
</section>


