.selected{
    background: blueviolet;
    padding: 5px 0px 5px 0px;
    margin: 10px 0 10px 0;
    color: antiquewhite;
}
.unSelected{
    background: blue;
    color: antiquewhite;
    padding: 5px 0px 5px 0px;
    margin: 10px 0 10px 0;
}
li{
    display: flex;
    justify-content: space-between;
    border: 2px solid #03A9F4;
    padding: 6px;
    margin: 7px 0px 7px 0px;
}